html {
    font-family: Tilt Neon;
    font-size: 16px;
    color: black;
    scroll-behavior: smooth;
  }
  
  h1 {
    font-size: 2rem;
    color: #f50900;
  }
  
  img {
    max-width: 45%;
    height:  150;
    display: block;
    margin: 10px auto;
  }
  
  p {
    color: #fb9403;
  }

  li {
    color: #fb9403;
  }
.container {
    margin-left: auto;
    margin-right: auto;
}